Flask==1.0.2

gunicorn==19.7.1

pytest==3.2.3
pytest-cov==2.5.1
flake8==3.4.1
mock==2.0.0

Click==6.7

flask-debugtoolbar==0.10.1
Flask-Babel==0.9
Flask-Login==0.3.2
Flask-Mail==0.9.1

WTForms-Components==0.9.7
WTForms==2.2

psycopg2==2.7.3.1
Flask-SQLAlchemy==2.2
redis==2.10.6
celery==4.1.1
alembic==0.9.6

Faker==0.8.5
pandas==0.23.1
requests==2.18.4

PyJWT==1.5.3

